alias python=python3

# git
alias gitlog="git log --oneline --decorate"

# shell command shorthands
# This is an improvised version of the mkcd command at http://superuser.com/questions/152794/is-there-a-shortcut-to-mkdir-foo-and-immediately-cd-into-it
function mkcd {
  local last=$(eval "echo \$$#")
  if [ ! -n "$last" ]; then
    echo "Enter a directory name"
  elif [ -d $last ]; then
    echo "\`$last' already exists"
  else
    mkdir $@ && cd $last
  fi
}

function cdls { cd "$@" && ls; }

# run last command as sudo
alias please='sudo $(history -p !!)'
alias ll="ls -ag"