# vscode
*.code-workspace
*.vscode
.devcontainer.json
.devcontainer/

# generic ignores
notes*
.cache/
.env

# package building
rpmbuild/

# job specific stuff i.e. server ips, internal repos, etc
.org
