[user]
	name = Devin Trowbridge
	# email=devin.trow@gmail.com
	# put email in /etc/gitconfig
[init]
	defaultBranch = main
[color]
	status = auto
	branch = auto
	interactive = auto
	diff = auto
[credential]
	helper = store
[pull]
	ff = only
[core]
	excludesfile = /home/devin/.gitignore
	editor = vim
[merge]
	conflictstyle = diff3
[rebase]
	autostash = true
[push]
	default = current
[diff]
	algorithm = histogram
